.rodape {
    background-color: #F4F4F4;
    height: 450px;
}

.rodape-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px
}

.rodape-conteudo h3 {
    font-family: "Archivo";
    font-size: 14px;
}

.rodape-conteudo a {
    text-decoration: none;
    font-family: "Archivo";
    color: #858585;
    font-size: 9px;
    font-weight: 700;
    transition: all 1.3s ease-in-out;
}

.rodape-conteudo a:hover{
    color:#0084ff;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.redes-sociais i {
    font-size: 20px;
    transition: 1.5s;
}

.fa-instagram:hover{
    color: #993399;
}

.fa-facebook:hover{
    color: #3b5998;
    
}

.fa-linkedin:hover{
    color: #0e76a8;
}

.fa-youtube:hover{
    color: #c4302b;
}
